.hori-center {
    margin: auto;
    width: 25%;    
    padding: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.borader-radius{
    border-radius: 1rem;
}

.font-bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.list-style-none{
    list-style-type:none
}

.new-line{
    white-space: pre-line;
}

