//colors
$off-block:#20222b;
$off-white-ec:#a5afd7;
$blue:#1c88bf;
$dark-blue:#333745;
$purple:#8357c5;
$blue:#3c4251;
$light-blue:#464b5e;
$dark-grey:#333;
$dark-blue:#364051;
$off-white:#f7f7f7;
$grey:#666;
$green:#099c3d;
$red:#eb2813;