$smartphone :320px; /* smartphones, iPhone, portrait 480x320 phones */ 
$kindle : 481px;   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
$portrait_tablet:641px;   /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
$tablet:961px;   /* tablet, landscape iPad, lo-res laptops ands desktops */ 
$big_land_tablet:1025px;  /* big landscape tablets, laptops, and desktops */ 
$hi_res_laptop:1281px;  /* hi-res laptops and desktops */ 